@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital@0;1&display=swap');


*{
	/* margin: 0px, padding: 0px ???*/
	box-sizing: border-box;
}

/*font-family: 'Josefin Slab', serif;
font-family: 'Lobster', cursive;
font-family: 'Poppins', sans-serif;

*/

h1{
	font-family: 'Lobster', cursive;
	font-size: 92px;
	color: white;
	text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
	padding-top: 80px;	
	text-align: center;
}

h2{
	font-family: 'Poppins', sans-serif;
	font-size: 17px;
	color: #44593A;
	text-align:center;
	background-color: #C9D5C3;
}

h3{
	font-family: 'Poppins', sans-serif;
	color: white;
	font-size: 40px;
	text-transform: capitalize;

}
h4{
	font-family: 'Josefin Slab', serif;
	font-size: 25px;
	font-weight: bold;
	font-style: italic;
	color: #44593A;
}

h5{
	font-family: 'Josefin Slab', serif;
	font-size: 17px;
	font-weight: bold;
	font-style: italic;
	color: #44593A;
}

p{
	font-family: 'Poppins', sans-serif;
	font-size: 13px;
	color: white;

}

/* HEADER */ 

/* Navigation */

.navbar{
	margin: 0% 15% 3% 15%;
}

.navbar-nav li{
	padding: 0px 20px;
}

.nav-link{
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	color: #44593A;
}


.fa-camera {
	color: #44593A;
	display: inline-block;
	float:left;
	margin: 0px 10px 15px 0px; 
}




/* End Navigation */



.background{
	width:100%;
	height: 700px;
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;


}

.container-fluid{
	padding-top:20px;
}
.container-fluid img{
	opacity: 0.5;
	width:100%;
}


.header-text{
	margin: 0% 15% 3% 15%;


}


/* intro-container */
.intro-container{
	background-color: #C9D5C3; 
}

.text-container{
	margin: 3% 15% 3% 15%;
	padding: 20px;
}
/* END intro container */

/* END HEADER */



/* album-container */
.album-container{
	padding: 20px;
	margin: 3% 15% 3% 15%;
	text-align:center;
}
/* END album-container */

/* railway container */
.full-width-container{
	width:100%;
	height: 400px;
	background-image: url("../images/railway.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
/* END railway container */


/*------ CONTACT FORM-------*/
#form {
	padding: 2rem;
	background: #228B22;
}

#form input[type='text'] {
	width: 100%;
	padding: 8px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
}

.error {
	background: #800000;
	color: #fff;
	padding: 5px;
	margin: 5px;
}

input[type=text], select, textarea {
    width: 100%; /* Full width */
    font-size: 15px;
	color:#44593A;
	font-family: 'Poppins', sans-serif;
	font-style: bold;
    padding: 12px; /* Some padding */ 
    border: 1px solid black; /* Black border */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 1px; /* Add a top margin */
    margin-bottom: 1px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
input[type=submit] {
	color:#44593A;
	font-family: 'Poppins', sans-serif;
	font-style: bold;
	padding: 3px;
	cursor: pointer;
	border: none;
}
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    color: black;
  }

 .fa-instagram{
 	color: #44593A;
	display: inline-block;
	float:left;
	margin: 0px 10px 15px 10px; 
 }
  .fa-facebook{
 	color: #44593A;
	display: inline-block;
	float:left;
	margin: 0px 10px 15px 10px;
	 
 }



/* END CONTACT FORM */


/* -----------------------DREAM DESTINATION PAGE ----------------------------*/
h3.ctact{
	text-transform: capitalize;
	color: #44593A; 
	font-size: 50px;
	font-family: 'Poppins', sans-serif;
	font-style: bolder;
	letter-spacing: 4px;
}
h5.ctact{
	font-size: 20px;
}

p.ctact{
	font-size: 13px;
	color: #44593A;
	font-style: bold;
}




.content-container{
	margin: 3% 15% 3% 15%;
}

.content-container .row .col-sm-6{
	background-color: blue;
}

.content-container .row .col-sm-6 img{
	max-width: 100%;
	height:auto;
}


/* FOOTER */
footer{
	background-color: #C9D5C3;
	width: 100%;
}

/* END FOOTER */